@import url('https://fonts.googleapis.com/css2?family=Michroma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --red: 255, 0, 0;
  --orange: 255, 128, 0;
  --yellow: 255, 255, 0;
  --green: 0, 255, 0;
  --cyan: 0, 255, 255;
  --blue: 0, 200, 255;
  --purple: 192, 128, 255;
  --magenta: 255, 0, 255;
  --pink: 255, 128, 255;
  --dark-blue: 0, 0, 255;

  --theme-color: var(--cyan);
  --primary: rgb(var(--theme-color));
  --primary-background: rgba(var(--theme-color), 0.2);
  --primary-hover: rgba(var(--theme-color), 0.4);
  --primary-accent: rgba(var(--theme-color), 0.6);
  --primary-highlight: rgba(var(--theme-color), 0.8);

  --background-light: #eee;
  --background-dark: #111;
  --border-dark: rgba(34, 34, 34, 0.6);
  --background: var(--background-dark);

  --link-color: #0dcaf0;
  --link-hover: #0aaccd;

  --font-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-futuristic: 'Jura', sans-serif;
  --font-hacker: Consolas, monospace, sans-serif;
  --font: var(--font-futuristic);
  --font-title: var(--font);
  --font-button: var(--font);

  --blur: blur(6px);
  --blur-light: blur(2px);
  --blur-heavy: blur(12px) brightness(50%);

  --menu-offset: -12.99rem;

  color-scheme: dark;
}

*, html {
  scroll-behavior: smooth !important;
  @supports (-moz-appearance:none) {
    scrollbar-color: var(--primary-accent) var(--primary-background);
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-background);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(var(--theme-color), 0.25);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-accent);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font);
  font-weight: 500;
  overflow-x: hidden;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

#template {
  display: none;
}

/* alignment */

.hidden {
  display: none !important;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* text */

*::selection {
  background-color: var(--primary);
  color: black;
}

h1 {
  font-size: 164px;
  text-shadow: 2px 2px 16px rgba(var(--theme-color), 0.8);
}

h2 {
  font-size: 42px;
  text-shadow: 1px 1px 12px var(--primary);
}

h3 {
  font-size: 32px;
  text-shadow: 1px 1px 8px var(--primary);
}

h4 {
  font-size: 24px;
  text-shadow: 1px 1px 6px var(--primary);
}

p {
  text-shadow: 1px 1px 4px var(--primary);
}

@media (max-width: 768px) {
  h1 {
    margin: 2rem auto;
    font-size: 100px;
  }
  h2 {
    margin: 1rem auto;
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}

.glass {
  backdrop-filter: var(--blur-light);
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
}

/* buttons */

button {
  font-family: var(--font);
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  margin: 2rem auto;
  padding: 1rem;
  min-width: 4rem;
  border-radius: 12px;
  background-color: var(--primary-background);
  color: var(--primary);
  border: 0.2rem solid var(--primary);
  backdrop-filter: var(--blur);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s background-color;
}
.btn:hover {
  background-color: var(--primary-hover);
}

.btn.btn-primary {
  padding: 2rem;
  min-width: 8rem;
  font-size: 28px;
}

.btn.btn-light {
  border-width: 2px;
}

.btn.icon-btn {
  aspect-ratio: 1;
  margin: 0 auto;
}

.btn.icon-btn > * {
  font-size: 24px;
}

/* dropdown */

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  min-width: 240px;
}
.dropdown.dropdown-up {
  flex-direction: column-reverse;
}

.dropdown-container {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-background);
  color: var(--primary);
  border: 2px solid var(--primary-hover);
  border-radius: 6px;
  backdrop-filter: var(--blur-light);
  font-size: 18px;
  text-align: left;
  text-transform: none;
  cursor: pointer;
  transition: border-color 0.2s;
}
.dropdown-container:hover {
  border-color: var(--primary);
}

.dropdown-open .dropdown-container {
  border-color: var(--primary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-up.dropdown-open .dropdown-container {
  border-color: var(--primary);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropdown-open .dropdown-container:focus {
  border-color: var(--primary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-up.dropdown-open .dropdown-container:focus {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropdown-container span:last-child {
  float: right;
}

.dropdown-items {
  position: relative;
  width: 100%;
}

.dropdown-items > ul {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}
.dropdown-up > .dropdown-items > ul {
  bottom: 100%;
}

.dropdown-items li {
  padding: 1rem;
  background-color: var(--primary-background);
  border: 2px solid var(--primary-hover);
  color: var(--primary);
  backdrop-filter: var(--blur) brightness(20%);
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.4s;
}

.dropdown-items li:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary);
}

.dropdown-items li.selected {
  background-color: var(--primary-hover);
  border-color: var(--primary);
  font-weight: 700;
}

.dropdown-items li:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.dropdown-up > .dropdown-items li:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-up > .dropdown-items li:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.5rem 0;
  width: 100vw;
  text-transform: uppercase;
  z-index: 10;
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 5rem;
    background: transparent;
    backdrop-filter: var(--blur-heavy);
    border-bottom: 2px solid var(--primary-background);
  }
  .navbar:hover,
  .navbar:active {
    border-bottom-color: var(--primary-hover);
  }
}

.navbar-content {
  flex-basis: 100%;
  flex-grow: 1;
  /* align-items: center; */
}

.navbar-toggle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 0 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border-color: var(--primary-accent);
}

.navbar-toggle:hover,
.navbar-toggle:active {
  border-color: var(--primary);
}

.navbar-toggle > * {
  pointer-events: none;
}

.navbar-toggle > span {
  padding-bottom: 0.12rem;
}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

@media (max-width: 768px) {
  .navbar-menu {
    overflow: hidden;
    margin-bottom: var(--menu-offset);
    transition: 0.4s margin-bottom ease-in-out;
    pointer-events: auto;
  }

  .navbar-items {
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(var(--menu-offset));
    transition: 0.4s transform ease-in-out;
  }
}

.navbar-link {
  margin: 1rem;
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.navbar-link:hover {
  color: rgba(var(--theme-color), 0.8);
}
@media (prefers-reduced-motion: reduce) {
  .navbar-link {
    transition: none;
  }
}

#scroll-top {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 9;
}

/* header */

header {
  padding-top: 4rem;
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  height: 100%;
}

.header-content > * {
  text-align: center;
}

.header-content > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content > div:last-child {
  margin-bottom: 6rem;
}

#animation-controls {
  display: flex;
  gap: 2rem;
  margin-top: auto;
}

@media (max-width: 768px) {
  #animation-controls {
    flex-wrap: wrap;
    gap: 0;
    max-width: 80vw;
  }
}

.info {
  margin: 0 1rem;
}

.info-icon {
  font-size: 18px;
}

.header-background {
  position: absolute;
  height: 100%;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* footer */

footer {
  border-top: 0.16rem solid var(--primary-background);
  transition: 0.3s border-color;
}
footer:hover {
  border-color: var(--primary-hover);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: calc(1264px - 2rem);
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* body */

.body-wrapper {
  position: relative;
  width: 100%;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#futuristic-grid {
  --x: 0;
  --y: -100vh;
  --gap: calc(100vw / 12);
  /* --offset: calc(100vw * -5/96); */
  --offset: calc(var(--gap) * -5/8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* background-image:
    linear-gradient(to right, var(--primary) 2px, transparent 2px),
    linear-gradient(to bottom, var(--primary) 2px, transparent 2px);
  background-size: calc(100vw / 12) calc(100vw / 12);
  background-position: calc(-100vw / 24) calc(-100vw / 24); */
  background-image:
    linear-gradient(to right, var(--primary) 2px, transparent 2px),
    linear-gradient(to bottom, var(--primary) 2px, transparent 2px),
    linear-gradient(to right, var(--primary-hover) 2px, transparent 2px),
    linear-gradient(to bottom, var(--primary-hover) 2px, transparent 2px);
  background-size:
    var(--gap) var(--gap),
    var(--gap) var(--gap),
    calc(var(--gap) / 4) calc(var(--gap) / 4),
    calc(var(--gap) / 4) calc(var(--gap) / 4);
  background-position:
    var(--offset) var(--offset),
    var(--offset) var(--offset),
    var(--offset) var(--offset),
    var(--offset) var(--offset);
  mask-image: radial-gradient(
    calc(100vw / 4) circle at var(--x) var(--y),
    var(--primary),
    rgb(255 255 255 / 50%) 10%,
    rgb(255 255 255 / 25%),
    rgb(255 255 255 / 10%)
  );
  -webkit-mask-image: radial-gradient(
    calc(100vw / 4) circle at var(--x) var(--y),
    var(--primary),
    rgb(255 255 255 / 50%) 10%,
    rgb(255 255 255 / 25%),
    rgb(255 255 255 / 10%)
  );
  transition: opacity 0.4s ease;
}

/* theme selection */

.theme-color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--primary-background);
  border: 2px solid var(--primary-hover);
  border-radius: 6px;
  backdrop-filter: var(--blur-light);
}

.btn-radio {
  margin: 0 0.4rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  border: 0.2rem solid black;
  cursor: pointer;
  transition: 0.2s border-color;
}

@media (max-width: 768px) {
  .theme-color-container {
    padding-bottom: 0.2rem;
    max-width: calc(5*2.6rem + 4*2*0.4rem + 2*1rem);
  }
  .btn-radio {
    margin-bottom: 0.4rem;
  }
}

.btn-radio[value="rainbow"] {
  background: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.btn-radio:hover {
  border-color: rgba(192, 192, 192, 0.6);
}
.btn-radio:last-child:hover {
  border-color: rgb(192, 192, 192);
}

.checked {
  border-color: rgb(192, 192, 192);
}

/* sections */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: calc(100vw - 2rem);
  /* min-width: calc(968px - 2rem); */
  max-width: calc(1264px - 2rem);
}

section > p {
  text-align: center;
}

#welcome > p {
  text-align: center;
}
#welcome > p > a {
  text-decoration: underline;
}

#about > h4 {
  margin-top: 0;
}
#about > p {
  margin: 0;
}

.avatar {
  width: 100%;
  max-width: 24rem;
  min-width: 8rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-image: url("../assets/img/about/headshot.jpg");
  background-size: contain;
}

@media (max-width: 768px) {
  .avatar {
    max-width: 22rem;
  }
}

.button-link-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#about > .button-link-wrapper {
  margin-bottom: 2rem;
}

.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto 0.5rem;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  border: 0.16rem solid var(--primary);
  background-color: var(--primary-background);
  backdrop-filter: var(--blur);
  color: var(--primary);
  cursor: pointer;
  transition: 0.3s background-color;
}

.button-link:hover {
  background-color: var(--primary-hover);
}

.button-link i {
  color: var(--primary);
}

/* skills section */

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: calc(100vw - 20px);
  margin: 1rem;
}

.skill-card {
  position: relative;
  width: 100%;
  min-width: 18rem;
  max-width: 24rem;
  aspect-ratio: 1.4;
  background-color: rgba(var(--theme-color), 0.6);
  border: 2px solid var(--primary-background);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  z-index: 2;
  overflow: hidden;
  transition: 0.4s border-color;
}
.skill-card:hover {
  border-color: var(--primary);
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    rgba(var(--theme-color), 0.12),
    rgba(var(--theme-color), 0.12) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  z-index: 2;
  transition: 0.4s all;
  animation: pan-overlay 22s infinite linear;
}

/* image overlay animation */
@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 6px;
  background-position: 0% 0%;
  backdrop-filter: var(--blur-light);
  opacity: 0.6;
  z-index: 1;
  transition: 0.4s opacity;
  animation: pan-image 15s linear infinite;
}
.skill-card:hover > .card-img {
  opacity: 0.3;
}

/* image pan animation */
@keyframes pan-image {  
  0% {        /* view 1 */
    background-position: 36% 42%;
    background-size: 200%;
  }
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  20.0001% {  /* view 2 */
    background-position: 60% 85%;
    background-size: 300%;
  }
  40% {
    background-position: 49% 81%;
    background-size: 300%;
  }
  40.0001% {  /* view 3 */
    background-position: 80% 42%;
    background-size: 250%;
  }
  60% {
    background-position: 84% 33%;
    background-size: 250%;
  }
  60.0001% {  /* view 4 */
    background-position: 0% 0%;
    background-size: 300%;
  }
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  80.0001% {  /* view 5 */
    background-position: 80% 10%;
    background-size: 250%;
  }
  100% {
    background-position: 72% 14%;
    background-size: 250%;
  }
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 0 1rem;
  max-width: 24rem;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.skill-card:hover > .card-content {
  margin-top: 2rem;
}

.card-content > p {
  display: none;
  text-align: justify;
  font-weight: 700;
  color: white;
  transition: 0.4s color;
}
.skill-card:hover > .card-content > p {
  display: block;
}

.card-content > p:last-child {
  margin-bottom: 2rem;
  font-size: 14px;
}

.card-icon {
  font-size: 42px;
  text-shadow: 0px 0px 0.5px var(--primary);
  opacity: 1;
  transition: 0.4s margin-top;
}

.skill-card:hover .card-icon {
  opacity: 0;
  margin-top: -5.6rem;
}

.skill-card:hover .card-content * {
  color: white;
  backdrop-filter: none;
}

@media (max-width: 768px) {
  .skill-card:hover .card-icon {
    margin-top: -4.2rem;
  }
}

.code {
  font-family: var(--font-hacker) !important;
  font-weight: bold;
}

/* languages */

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: calc(1264px - 2*6rem);
}

.language-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.language-container {
  margin: 0 6rem;
  width: 100%;
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.language-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.language-icon {
  padding: 0.25rem;
  aspect-ratio: 1;
  font-size: 24px;
  border: 2px solid var(--primary);
  border-radius: 6px;
}

.language-name > p {
  font-weight: 700;
}

.languages .skills > p {
  background-color: var(--primary-background);
}
.languages .skills > p:hover {
  background-color: var(--primary-hover);
}

@media (max-width: 768px) {
  .languages .skills > p:not(:nth-child(-n+4)) {
    display: none;
  }
}

/* progress bar */

progress {
  -webkit-appearance:none;
  -moz-appearance:none;        
  appearance: none;
  width: calc(100% - 9rem);
  height: 1rem;
  border-radius: 6px;
  background-color: var(--primary-background);
  border: 1px solid var(--primary-hover);
  transition: 0.4s all;
}
progress:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary);
}

progress::-webkit-progress-bar {
  background-color: transparent;
  border-color: transparent;
  border-radius: 6px;
  transition: 0.4s all;
}

progress::-webkit-progress-value {
  background-color: var(--primary);
  border-radius: 6px;
  width: 0;
}

progress::-moz-progress-bar {
  background-color: var(--primary);
  border-radius: 6px;
  transition: 0.4s all;
}

/* experience section */

.accordion-wrapper {
  max-width: 768px;
}

.accordion {
  margin-bottom: 1rem;
  width: 100%;
  background-color: transparent;
  border-radius: 1rem;
  transition: 0.4s box-shadow;
}
.accordion.open:hover {
  box-shadow: 0 0 1rem var(--primary);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: var(--primary-background);
  border: 2px solid var(--primary-hover);
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: 0.4s background-color, 0.4s border-color, 0.4s border-radius;
}
.accordion-header:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary);
}
.accordion-header:focus {
  background-color: var(--primary-hover);
}

.accordion.open > .accordion-header {
  border-color: var(--primary);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-header > h4 {
  margin: 1rem;
  transition: 0.4s color;
}
.accordion-header:hover > h4 {
  color: white;
}

.accordion-content {
  padding: 0 1rem;
  background-color: rgba(var(--theme-color), 0.1);
  border: 2px solid var(--primary-hover);
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  backdrop-filter: var(--blur);
  overflow: hidden;
}
.accordion-content:hover {
  border-color: var(--primary);
}

.accordion.open > .accordion-content {
  opacity: 1;
  transition: 0.4s border-color, 0.25s opacity ease-in, 0.25s max-height ease-in;
}
.accordion:not(.open) > .accordion-content {
  opacity: 0;
  transition: 0.4s border-color, 0.25s opacity ease-out, 0.25s max-height ease-out;
}

.job-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
}

.job-info > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.job-info > span > * {
  margin: 0 0.25rem;
}

@media (max-width: 768px) {
  .job-info > span:nth-child(2) {
    display: none;
  }
  .job-info > span {
    margin: 0.25rem 0;
  }
  .accordion-content > ul {
    padding-left: 1.2rem;
  }
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.skills > p {
  margin: 0.25rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--primary-hover);
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  cursor: default;
  transition: 0.2s all;
}
.skills > p:hover {
  color: white;
  background-color: var(--primary-hover);
  border-color: var(--primary);
}

@media (max-width: 768px) {
  .accordion[id="umass"] .skills > p {
    display: none;
  }
}

/* projects section */

.projects-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100vw - 20px);
  margin: 1rem;
}


.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin: 1rem;
}

@media (max-width: 768px) {
  .project-cards {
    margin: 0;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  width: calc((1264px - 2*32px - 10rem) / 3);
  /* min-width: calc((1264px - 2*32px - 10rem) / 3); */
  /* min-width: 18rem; */
  /* min-width: 24rem; */
  /* max-width: 24rem; */
  background-color: var(--primary-background);
  border: 2px solid var(--primary-hover);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.4s all;
}

.project-card > h4{
  white-space: nowrap;
}

.project-card:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-highlight);
}
.project-card:hover > h4 {
  color: white;
}

.project-card-img {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background-size: contain;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.project-card-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-hover);
  transition: 0.4s background-color;
}
.project-card:hover > .project-card-img::after {
  background-color: var(--primary-accent);
}

.project-card-img > .card-overlay {
  height: auto;
  aspect-ratio: 16/9;
}

/* contact section */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 2rem; */
  width: 100%;
  max-width: calc(100vw - 20px);
  margin: 1rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 1rem 0;
  width: 100%;
  min-width: 18rem;
  max-width: 24rem;
  aspect-ratio: 16/10;
  background-color: var(--primary-background);
  border: 2px solid var(--primary-hover);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  transition: 0.4s border-color;
  * {
    text-shadow: none;
  }
}
.contact-card:hover {
  border-color: var(--primary-highlight);
}

/* project modals */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px);
  filter: brightness(60%);
  pointer-events: none;
}

.modal-wrapper {
  position: relative;
  width: auto;
  max-width: calc(1264px - 12rem);
  margin: 6rem auto;
  z-index: 12;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: calc(1264px - 12rem);
  max-height: calc(100vh - 12rem);
  background-color: var(--primary-background);
  border: 2px solid var(--primary-accent);
  border-radius: 6px;
  backdrop-filter: brightness(40%);
  overflow-y: auto;
  transition: 0.4s border-color;
}
.modal-container:hover {
  border-color: var(--primary);
}

@media (max-width: 768px) {
  .modal-wrapper {
    margin: 2rem;
  }
  .modal-container {
    max-height: calc(100vh - 4rem);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* width: calc(100% - 2*(4rem + 24px)); */
  width: calc(100% - 24rem);
  padding: 1rem;
}

.modal-content > * {
  text-shadow: none;
}
.modal-content > h2 {
  text-align: center;
}
.modal-content > p {
  color: white;
  text-align: justify;
}
.modal-content > h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.modal-content > .links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 4rem auto;
}

@media (max-width: 768px) {
  .modal-content {
    width: calc(100% - 2rem);
    margin-top: 3rem;
  }
  .modal-content > * {
    margin: 0.2rem 1rem;
  }
  .modal-content > p {
    text-align: center;
  }
  .modal-content > h4 {
    margin: 0.5rem auto;
  }
  .modal-content > .links {
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem auto;
  }
}

.modal-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 0 auto;
  background-color: transparent;
  border-width: 2px;
}
.modal-link:hover {
  background-color: var(--primary-background);
}

@media (max-width: 768px) {
  .modal-link {
    padding: 0.8rem;
    border-radius: 8px;
  }
}

.modal-img {
  position: relative;
  margin: 1rem auto;
  width: 100%;
  aspect-ratio: 16/9;
  background-size: contain;
  border-radius: 12px;
}

.modal-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: transparent;
  transition: 0.3s all;
}
.modal-img:hover::after {
  background-color: var(--primary-hover);
}

.modal[id="template"] .modal-img {
  background-image: url("../assets/img/computers.jpg");
}

.modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.btn-close {
  padding: 0.25rem;
  background-color: transparent;
  color: var(--primary);
  border: none;
  cursor: pointer;
  transition: 0.4s color;
}
.btn-close:hover {
  color: var(--primary-accent);
}

.close-icon {
  font-size: 24px;
  pointer-events: none;
}
